* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #1b1a1b;
  color: #ffffff;
}

cite {
  text-transform: uppercase;
}

form {
  margin-bottom: 30px;
}

fieldset {
  width: 600px;
  padding: 10px;
}

input {
  margin: 5px;
}

button {
  margin-top: 5px;
}

.wrapper {
  width: 1200px;
  padding: 30px;
  margin: 0 auto;
}
