.grid-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  gap: 40px 80px;
}

.about__block {
  grid-column: 2/3;
  grid-row: 2/3;
}

.about__block:first-of-type {
  grid-column: 1/2;
  grid-row: 2/3;
}

.about__title-h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.about__text {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 78px;
}

.about__blockquote {
  margin: 0;
}

.about__cite-text {
  font-size: 44px;
  line-height: 114%;
  text-transform: uppercase;
  white-space: pre-line;
  margin-bottom: 40px;
}

.about__cite-text:after {
  content: "\201D";
  font-weight: 900;
  color: var(--main-color);
}

.about__cite-text:before {
  content: "\201C";
  font-weight: 900;
  color: var(--main-color);
}
.about__cite-figcaption {
  font-size: 20px;
  line-height: 140%;
  white-space: pre-line;
}

.about__figure-cite {
  display: flex;
  padding-left: 111px;
  gap: 29px;
}

.about__text-p {
  margin-bottom: 1em;
}

.about__figure-cite-img {
  max-width: 80px;
  max-height: 80px;
}

@media (max-width: 1024px) {
  .grid-about {
    gap: 26px 39px;
  }
  .about__title-h2 {
    font-size: 30px;
    line-height: 133%;
  }

  .about__text {
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 26px;
  }

  .about__cite-text {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 13px;
    white-space: normal;
  }

  .about__cite-figcaption {
    font-size: 18px;
    line-height: 144%;
  }

  .about__figure-cite {
    gap: 35px;
    padding-left: 111px;
  }

  .about__figure-cite-img {
    max-width: 70px;
    max-height: 70px;
  }
}

@media (max-width: 768px) {
  .about__title-h2 {
    font-size: 24px;
    line-height: 150%;
  }

  .grid-about {
    grid-template-rows: repeat(3, min-content);
    gap: 30px 28px;
  }

  .about__block {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .about__block-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
  }
  .about__text {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 16px;
    line-height: 137%;
    padding: 67px 0;
    margin-bottom: 0;
  }
  .about__blockquote {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .about__cite-text {
    font-size: 32px;
    line-height: 112%;
    margin-bottom: 16px;
  }

  .about__figure-cite {
    gap: 25px;
    padding-left: 0;
    justify-content: flex-end;
  }
}

@media (max-width: 480px) {
  .grid-about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 15px;
  }

  .about__title-h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 14px;
    line-height: 129%;
  }

  .about__block {
    grid-column: 1/2;
    grid-row: 2/5;
  }

  .about__block:first-of-type {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .about__block-grid {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 280px);
  }

  .about__text {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 12px;
    line-height: 133%;
    padding: 0;
    margin-bottom: 0;
  }

  .about__blockquote {
    padding-top: 135px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .about__cite-text {
    font-size: 18px;
    line-height: 144%;
    margin-bottom: 9px;
  }

  .about__figure-cite {
    gap: 11px;
    padding-left: 0;
    justify-content: flex-start;
  }

  .about__figure-cite-img {
    max-width: 56px;
    max-height: 56px;
  }

  .about__cite-figcaption {
    font-size: 12px;
    line-height: 133%;
    white-space: normal;
  }
}
