.about {
}

.about__title-h2 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.about__text {
  font-size: 20px;
  line-height: 140%;
}

.about__cite-text {
  font-size: 44px;
  line-height: 114%;
  text-transform: uppercase;
  white-space: pre-line;
}

.about__cite-text:after {
  content: "\201D";
  font-weight: 900;
  color: #6c0287;
}

.about__cite-text:before {
  content: "\201C";
  font-weight: 900;
  color: #6c0287;
}
.about__cite-figcaption {
  font-size: 20px;
  line-height: 140%;
  white-space: pre-line;
}

.about__figure-cite {
  display: flex;
  padding-top: 40px;
  justify-content: flex-end;
  margin: 0 0 0 500px;
  gap: 30px;
}
