.about__block {
  display: inline-block;
  vertical-align: top;
}

.about__block:first-of-type {
  margin-right: 74px;
}

.about__title-h2 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.about__text {
  font-size: 20px;
  line-height: 140%;
  max-width: 500px;
  margin-bottom: 78px;
}

.about__blockquote {
  margin: 0 0 0 0;
  max-width: 500px;
}

.about__cite-text {
  font-size: 44px;
  line-height: 114%;
  text-transform: uppercase;
  white-space: pre-line;
  margin-bottom: 40px;
}

.about__cite-text:after {
  content: "\201D";
  font-weight: 900;
  color: #6c0287;
}

.about__cite-text:before {
  content: "\201C";
  font-weight: 900;
  color: #6c0287;
}
.about__cite-figcaption {
  font-size: 20px;
  line-height: 140%;
  white-space: pre-line;
}

.about__figure-cite {
  display: flex;
  padding-left: 111px;
  gap: 29px;
}

.about__text-p {
  margin-bottom: 1em;
}
