.banner:after {
  content: "";
  display: inline-block;
  width: 1140px;
  height: 823px;
  background-image: url("../img/hero_image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  top: -100px;
}

.banner_title-h2 {
  font-weight: 900;
  font-size: 150px;
  text-align: left;
  margin: 0;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.banner_title-h3 {
  font-size: 28px;
  margin: auto;
  padding: 0 0 0 100px;
}
