.banner_title-h3:after {
  content: "";

  width: 675px;
  height: 762px;
  background-image: url("../img/hero_image.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: -90px;
}

.banner_title-h2 {
  font-weight: 900;
  font-size: 150px;
  text-align: left;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.banner_title-h3 {
  font-size: 28px;
  padding: 0 0 0 100px;
  display: flex;
}
