.banner {
}

.banner__img {
  min-height: 823px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.banner__img:after {
  content: "";
  width: 675px;
  height: 762px;
  background-image: url("../img/hero_image.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 61px;
  right: 0;
}

.banner__title-h2 {
  font-weight: 900;
  font-size: 150px;
  text-align: left;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.banner__title-h3 {
  font-size: 28px;
  font-weight: 400;
  padding: 0 0 0 100px;
}

.banner__wrapper-flex {
  display: flex;
  gap: 40px;
  padding-top: 30px;
  align-self: flex-start;
  margin-bottom: 150px;
}

.banner__title-h3-halls {
  font-weight: 400;
  font-size: 30px;
  display: inline-flex;
  flex-direction: column;
  flex-basis: 193px;
  text-align: center;
}
.banner__title-h3-halls::before {
  content: "4";
  font-weight: 900;
  font-size: 100px;
  color: var(--color-ruby);
}

.banner__title-h3-new {
  font-weight: 400;
  font-size: 30px;
  display: inline-flex;
  flex-direction: column;
  flex-basis: 166px;
  align-self: end;
}

.banner__title-h3-new::before {
  content: "new";
  font-weight: 900;
  font-size: 75px;
  font-variant: all-small-caps;
  color: var(--color-ruby);
}

.banner__button-booking {
  background: var(--main-color);
  border-radius: 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  padding: 24px 68px;
  align-self: flex-start;
  position: relative;
  transition-duration: 0.5s;
  transition-property: background-color;
}

.banner__button-booking:hover,
.banner__button-booking:focus {
  background-color: #840aa3;
}

.banner__button-booking:active {
  background-color: #640aa3;
}
.banner__link-down {
  background-image: url(../img/down.svg);
  background-size: contain;
  height: 99px;
  width: 99px;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 1;
  margin-left: 539px;
  transition-duration: 0.5s;
  transition-property: background-image;
}

.banner__link-down:hover {
  background-image: url(../img/down-hover.svg);
}
.banner__link-down:focus {
  background-image: url(../img/down-focus.svg);
}
.banner__link-down:active {
  background-image: url(../img/down-active.svg);
}

@media (max-width: 1024px) {
  .banner__img {
    min-height: 583px;
  }

  .banner__img:after {
    width: 453px;
    height: 520px;
    top: 61px;
  }
  .banner__title-h2 {
    font-size: 120px;
  }

  .banner__title-h3 {
    font-size: 22px;
    font-weight: 400;
    padding: 20px 0 0 100px;
  }

  .banner__wrapper-flex {
    margin-bottom: 80px;
  }

  .banner__title-h3-halls {
    font-size: 26px;
    flex-basis: 168px;
  }
  .banner__title-h3-halls::before {
    font-size: 80px;
  }

  .banner__title-h3-new {
    font-size: 26px;
    flex-basis: 140px;
  }

  .banner__title-h3-new::before {
    font-size: 60px;
  }

  .banner__button-booking {
    border-radius: 10px;
    font-size: 22px;
    line-height: 136%;
    padding: 17px 48px;
  }
  .banner__link-down {
    height: 67px;
    width: 67px;
    margin-left: 410px;
  }
}
@media (max-width: 768px) {
  .banner__img {
    min-height: 537px;
  }

  .banner__img:after {
    width: 409px;
    height: 479px;
    top: 61px;
  }
  .banner__title-h2 {
    font-size: 86px;
    line-height: 100%;
  }

  .banner__title-h3 {
    font-size: 18px;
    line-height: 133%;
    padding: 20px 0 0 70px;
  }

  .banner__wrapper-flex {
    margin-bottom: 100px;
    padding-top: 50px;
    gap: 30px;
  }

  .banner__title-h3-halls {
    font-size: 16px;
    flex-basis: 103px;
  }
  .banner__title-h3-halls::before {
    font-size: 50px;
  }

  .banner__title-h3-new {
    font-size: 16px;
    flex-basis: 89px;
  }

  .banner__title-h3-new::before {
    font-size: 40px;
  }

  .banner__button-booking {
    border-radius: 4px;
    font-size: 16px;
    line-height: 150%;
    padding: 11px 35px 11px 34px;
  }
}
@media (max-width: 480px) {
  .banner__img {
    min-height: 204px;
  }

  .banner__img:after {
    width: 161px;
    height: 179px;
    top: 25px;
  }
  .banner__title-h2 {
    font-size: 35px;
  }

  .banner__title-h3 {
    font-size: 10px;
    line-height: 140%;
    padding: 6px 0 0 20px;
  }

  .banner__wrapper-flex {
    margin-bottom: 30px;
    padding-top: 10px;
    gap: 20px;
  }

  .banner__title-h3-halls {
    font-size: 10px;
    flex-basis: 65px;
  }
  .banner__title-h3-halls::before {
    font-size: 26px;
  }

  .banner__title-h3-new {
    font-size: 10px;
    flex-basis: 54px;
  }

  .banner__title-h3-new::before {
    font-size: 22px;
  }

  .banner__button-booking {
    font-size: 10px;
    line-height: 120%;
    padding: 8px 13px 7px;
  }
  .banner__link-down {
    height: 67px;
    width: 67px;
    margin-left: 410px;
  }
}
