.booking__wrapper-bg {
  background-color: #440f51;
  padding: 80px 0;
}

.booking__h3 {
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
}

.booking__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.fieldset-halls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
  margin-bottom: 60px;
  width: 100%;
}

.booking__form-legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
}

.margin-bottom {
  text-align: center;
  margin-bottom: 40px;
}

.booking__form-label-halls {
  border-radius: 8px;
  max-width: 250px;
  max-height: 55px;
  padding: 8px 10px;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: background-color;
}

.booking__form-label-halls:hover {
  background-color: #eadeed;
  border: 3px solid #640aa3;
}

.booking__form-label-halls:focus {
  border: 3px solid #640aa3;
}

.booking__form-label-halls:active {
  border: 3px solid #fff;
  background-color: var(--main-color);
}

.booking__form-input-halls {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: background-color, border;
}

.booking__form-input-halls:checked + .booking__form-label-halls {
  border: 3px solid #fff;
  background-color: var(--main-color);
}

.fieldset-entertainment-set {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 60px;
  align-self: stretch;
}

.booking__form-fieldset-entertainment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__form-label-entertainment {
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}

.booking__form-label-entertainment:first-of-type {
  padding-top: 23px;
}

.booking__form-input-entertainment {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.booking__form-input-entertainment:focus {
  outline: 1px solid var(--color-ruby);
}

.booking__form-fieldset-booking-date {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px 36px;
  margin-bottom: 40px;
}

.booking__form-label-booking-date {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  max-width: 300px;
}

.booking__form-label-booking-date:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.booking__form-label-booking-date:nth-child(4) {
  grid-column: 3/4;
  grid-row: 1/2;
}

.booking__form-label-booking-date:nth-child(5) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.booking__form-label-booking-date:nth-child(6) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.booking__form-label-booking-date:nth-child(7) {
  grid-column: 3/4;
  grid-row: 2/3;
}

.booking__form-input-booking-date {
  height: 52px;
}

.booking__form-input-booking-date:focus {
  outline: 2px solid var(--color-ruby);
}

.small-input {
  width: 134px;
}

.booking__form-date-wrapper {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  gap: 30px;
  flex-basis: 52px;
}

.booking__form-button {
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  border: 3px solid transparent;
  box-shadow: 0px 0px #fff, 0 0 20px #fff;
  color: var(--main-color);
  padding: 16px 50px;
  align-self: flex-end;
  margin-right: 105px;
  transition-duration: 0.5s;
  transition-property: background-color, border-color;
}

.booking__form-button:hover {
  border-color: var(--main-color);
  background-color: #eadeed;
}

.booking__form-button:focus {
  border-color: var(--main-color);
  background-color: #fff;
}

.booking__form-button:active {
  border-color: #eadeed;
  background-color: #eadeed;
}

@media (max-width: 1024px) {
  .booking__wrapper-bg {
    padding: 57px 0 63px;
  }

  .booking__h3 {
    font-size: 30px;
    line-height: 133%;
  }
  .booking__form {
    padding-top: 25px;
  }

  .margin-bottom {
    margin-bottom: 26px;
  }

  .fieldset-halls {
    gap: 61px;
    margin-bottom: 60px;
  }

  .booking__form-label-halls {
    border-radius: 6px;
    max-width: 180px;
    max-height: 44px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 120%;
  }

  .fieldset-entertainment-set {
    margin-bottom: 67px;
  }
  .booking__form-fieldset-booking-date {
    gap: 14px 50px;
    margin-bottom: 50px;
  }
  .booking__form-button {
    font-size: 18px;
    line-height: 133%;
    padding: 13px 46px;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .booking__wrapper-bg {
    padding: 50px 0;
  }
  .booking__form {
    padding-top: 40px;
  }
  .booking__h3 {
    font-size: 24px;
    line-height: 150%;
  }

  .margin-bottom {
    margin-bottom: 30px;
  }

  .fieldset-halls {
    gap: 29px;
    margin-bottom: 50px;
  }

  .booking__form-label-halls {
    border-radius: 6px;
    max-width: 150px;
    max-height: 38px;
    padding: 9px 0;
    font-size: 16px;
    line-height: 125%;
  }

  .fieldset-entertainment-set {
    margin-bottom: 50px;
    gap: 66px;
    flex-wrap: wrap;
  }

  .booking__form-label-entertainment {
    gap: 20px;
  }

  .booking__form-fieldset-booking-date {
    grid-template-columns: minmax(180px, 280px) minmax(200px, 300px);
    grid-template-rows: repeat(3, 1fr);
    gap: 14px 106px;
    margin-bottom: 48px;
  }
  .booking__form-label-booking-date {
    max-width: 100%;
  }

  .booking__form-label-booking-date:nth-child(5) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .booking__form-label-booking-date:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .booking__form-label-booking-date:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .booking__form-label-booking-date:nth-child(7) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .booking__form-label-booking-date:nth-child(6) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .booking__form-date-wrapper {
    gap: 14px;
  }

  .booking__form-button {
    border-radius: 10px;
    font-size: 22px;
    line-height: 127%;
    padding: 16px 50px;
  }
}
@media (max-width: 480px) {
  .booking__wrapper-bg {
    padding: 30px 0;
  }

  .booking__form {
    padding-top: 13px;
  }

  .booking__h3 {
    font-size: 14px;
    line-height: 143%;
  }

  .margin-bottom {
    margin-bottom: 15px;
  }
  .booking__form-legend {
    font-size: 14px;
    line-height: 129%;
  }

  .fieldset-halls {
    gap: 14px 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .booking__form-label-halls {
    border-radius: 4px;
    max-width: 130px;
    max-height: 30px;
    padding: 6px 0;
    font-size: 14px;
    line-height: 129%;
  }

  .fieldset-entertainment-set {
    margin-bottom: 30px;
    gap: 25px 40px;
  }

  .booking__form-fieldset-entertainment {
    gap: 15px;
  }

  .booking__form-label-entertainment {
    font-size: 16px;
  }

  .booking__form-fieldset-booking-date {
    grid-template-columns: minmax(180px, 280px);
    grid-template-rows: repeat(7, min-content);
    gap: 15px;
    margin-bottom: 35px;
  }

  .booking__form-date-wrapper {
    gap: 12px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .booking__form-label-booking-date:nth-child(3) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .booking__form-label-booking-date:nth-child(4) {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .booking__form-label-booking-date:nth-child(5) {
    margin-bottom: 20px;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .booking__form-label-booking-date:nth-child(6) {
    margin-bottom: 20px;
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .booking__form-label-booking-date:nth-child(7) {
    grid-column: 1/2;
    grid-row: 7/8;
  }

  .booking__form-button {
    border-radius: 4px;
    font-size: 18px;
    line-height: 144%;
    padding: 17px 56px;
  }
}
