.booking__wrapper-bg {
  background-color: #440f51;
  padding: 80px 0;
}

.booking__h3 {
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
}

.booking__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  width: 980px;
}

.fieldset-halls {
  display: flex;
  flex-direction: row;
  gap: 40px 60px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.booking__form-legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
}

.margin-bottom {
  text-align: center;
  margin-bottom: 40px;
}

.margin-bottom:last-of-type {
  margin-bottom: 38px;
}

.booking__form-label-halls {
  border-radius: 8px;
  width: 250px;
  height: 55px;
  padding: 8px 0;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  cursor: pointer;
}

.booking__form-label-halls:hover {
  background-color: #eadeed;
}

.booking__form-label-halls:focus {
  border: 3px solid #640aa3;
}

.booking__form-label-halls:active {
  border: 3px solid #fff;
  background-color: #6c0287;
}

.booking__form-input-halls {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.fieldset-entertainment-set {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 60px;
  align-self: stretch;
}

.booking__form-fieldset-entertainment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__form-label-entertainment {
  font-size: 22px;
  cursor: pointer;
}

.booking__form-label-entertainment:first-of-type {
  padding-top: 23px;
}

.booking__form-input-entertainment {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.booking__form-input-entertainment:focus {
  outline: 1px solid #cd06ff;
}

.booking__form-fieldset-booking-date {
  display: flex;
  gap: 14px 36px;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content: space-between;
  margin-bottom: 40px;
}

.booking__form-label-booking-date {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
}

.booking__form-input-booking-date {
  flex-basis: 52px;
  width: 300px;
}

.booking__form-input-booking-date:focus {
  outline: 2px solid #cd06ff;
}

.small-input {
  width: 134px;
}

.booking__form-date-wrapper {
  display: flex;
  gap: 30px;
  flex-basis: 52px;
}
.booking__form-button {
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #6c0287;
  padding: 16px 50px;
  align-self: flex-end;
  border: 3px solid #6c0287;
}

.booking__form-button:hover {
  border: 3px solid #6c0287;
  background-color: #eadeed;
}

.booking__form-button:focus {
  border: 3px solid #6c0287;
  background-color: #fff;
}

.booking__form-button:active {
  border-radius: 10px;
  border: 3px solid #eadeed;
  background-color: #eadeed;
}
