.contacts {
  padding-bottom: 101px;
  font-weight: 700;
  font-size: 24px;
}

.contact__img-map {
  float: right;
}

.contacts__title {
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 53px 0;
}

.contacts__list-social {
  display: flex;
  padding-top: 39px;
  gap: 26px;
}

.contact__item-social:active {
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 28px;
}

.location {
  margin-bottom: 39px;
}

.phone {
  margin-bottom: 10px;
}

.contact__item:hover,
.contact__item:focus {
  color: #eadeed;
}

.contact__item:active {
  color: #6c0287;
}

.contact__p-address {
  white-space: pre-line;
}

.contact__link {
  text-decoration: none;
  color: inherit;
}

.contact__link-social {
  color: #fff;
}

.contact__link-social:hover {
  color: #eadeed;
}

.contact__link-social:focus {
  color: #eadeed;
  outline: 1px solid #cd06ff;
}

.contact__link-social:active {
  color: #cd06ff;
}
