.contacts {
  padding-bottom: 101px;
  font-weight: 700;
  font-size: 24px;
}

.contacts__title {
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  margin: 100px 0 53px 0;
}

.contacts__list-social {
  display: flex;
  padding-top: 39px;
  gap: 26px;
}

.contact__item-social {
}

.contact__item {
  padding-left: 61px;
  background-size: contain;
  background-repeat: no-repeat;
}

.location {
  background-image: url("../img/location.svg");
  background-size: 35px 32px;
  margin-bottom: 54px;
}
.phone {
  background-image: url("../img/phone-call.svg");
  margin-bottom: 10px;
}
.email {
  background-image: url("../img/envelope.svg");
}

.contact__p-address {
  white-space: pre-line;
}

.contact__link {
  text-decoration: none;
  color: inherit;
}

.contact__link-social {
  color: #fff;
}
