.contacts {
  padding-bottom: 21px;
  font-weight: 700;
  font-size: 24px;
}

.grid-footer {
  display: grid;
  grid-template-columns: 440px 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: 40px;
}

.contact__img-map {
  grid-column: 2/3;
  grid-row: 2/5;
  justify-self: flex-end;
  object-fit: cover;
}

.contacts__title {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
}

.contacts__list-social {
  display: flex;
  gap: 26px;
}

.contact__item-social:active {
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 28px;
  transition-duration: 0.6s;
  transition-property: color, outline;
}

.location {
  margin-bottom: 39px;
}

.phone {
  margin-bottom: 10px;
}

.contact__item:hover {
  color: #eadeed;
}

.contact__link:focus {
  outline: solid 2px var(--main-color);
}

.contact__item:active {
  color: var(--main-color);
}

.contact__p-address {
  white-space: pre-line;
}

.contact__link {
  text-decoration: none;
  color: inherit;
}

.contact__link-social {
  color: #fff;
  transition-duration: 0.6s;
  transition-property: color, outline;
}

.contact__link-social:hover {
  color: #eadeed;
}

.contact__link-social:focus {
  color: #eadeed;
  outline: 1px solid var(--color-ruby);
}

.contact__link-social:active {
  color: var(--color-ruby);
}

.contacts__wrapper {
  padding-top: 123px;
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__wrapper-p {
  font-size: 14px;
  line-height: 114%;
  white-space: pre-line;
}

@media (max-width: 1024px) {
  .grid-footer {
    grid-template-columns: 305px 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 26px;
  }

  .contact__img-map {
    grid-column: 2/3;
    grid-row: 2/5;
    justify-self: flex-end;
  }

  .contact__item-svg {
    height: 26px;
    width: 26px;
  }

  .contacts__title {
    font-size: 30px;
    line-height: 133%;
  }

  .contacts__list-social {
    display: flex;
    gap: 26px;
    padding-top: 14px;
  }

  .contact__item {
    gap: 13px;
  }

  .contact__item-social-svg {
    width: 40px;
    height: 40px;
  }

  .location {
    margin-bottom: 39px;
  }

  .phone {
    margin-bottom: 7px;
  }
}
@media (max-width: 768px) {
  .contacts {
    padding-bottom: 18px;
  }

  .grid-footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    gap: 30px;
  }

  .contacts__title {
    font-size: 24px;
    line-height: 150%;
  }

  .contact__img-map {
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: stretch;
  }

  .contacts__list {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
  }

  .contacts__list-social {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
  }

  .phone,
  .location {
    margin-bottom: 27px;
  }

  .contacts__list-social {
    padding: 0;
  }

  .contacts__wrapper {
    padding-top: 75px;
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (max-width: 480px) {
  .contacts {
    padding-bottom: 24px;
  }

  .grid-footer {
    gap: 10px;
    font-size: 14px;
    line-height: 129%;
  }

  .contacts__title {
    font-size: 14px;
    line-height: 129%;
  }

  .contacts__list {
    padding-top: 5px;
  }

  .contact__item-svg {
    height: 20px;
    width: 20px;
  }

  .phone,
  .location {
    margin-bottom: 10px;
  }

  .contact__img-map {
    padding-top: 25px;
  }

  .contact__item-social-svg {
    width: 30px;
    height: 30px;
  }

  .contacts__wrapper {
    padding-top: 63px;
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts__wrapper-p {
    font-size: 12px;
    line-height: 133%;
    white-space: pre-line;
    text-align: center;
  }

  .contacts__wrapper-p:first-of-type {
    margin-bottom: 19px;
  }
}
