.faq__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
}

.faq__list {
  padding-top: 40px;
}

.faq__item {
  background-color: #fff;
  color: #1c1a1a;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq__item-h3-btn {
  font-weight: 700;
  width: 100%;
  font-size: 24px;
  padding: 21px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.faq__item-p {
  display: block;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
  padding: 57px 70px 100px;
}

.faq__item-p:nth-child(2n) {
  background-color: #fff;
  color: #000;
}

.faq__item:last-child {
  margin-bottom: 0px;
}

.faq__item:nth-child(2n) {
  background-color: #440f51;
  color: #fff;
}

.acc__icon {
  background-image: url("../img/open.svg");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  transition-duration: 0.6s;
  transition-property: background-image;
}

.acc__icon:hover,
.acc__icon:active {
  background-image: url("../img/open-hover.svg");
}

.acc__icon-active {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  transition-duration: 0.6s;
  transition-property: background-image;
  background-image: url("../img/open-active.svg");
}

.acc__icon-white {
  background-image: url("../img/open-purple.svg");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  transition-duration: 0.6s;
  transition-property: background-image;
}

.acc__icon-white:hover,
.acc__icon-white:active {
  background-image: url("../img/open-purple-hover.svg");
}

.acc__icon-white-active {
  background-image: url("../img/open-purple-active.svg");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  transition-duration: 0.6s;
  transition-property: background-image;
}

@media (max-width: 1024px) {
  .faq__title {
    font-size: 30px;
    line-height: 133%;
  }
  .faq__list {
    padding-top: 26px;
  }

  .faq__item {
    margin-bottom: 16px;
  }

  .faq__item-h3-btn {
    font-size: 20px;
    line-height: 120%;
    padding: 12px 20px 12px 25px;
  }

  .faq__item-p {
    font-size: 20px;
    line-height: 120%;
  }
}
@media (max-width: 768px) {
  .faq__title {
    font-size: 24px;
    line-height: 108%;
  }
  .faq__list {
    padding-top: 30px;
  }

  .faq__item-h3-btn {
    padding: 12px 65px 12px 54px;
    font-size: 18px;
    line-height: 133%;
  }

  .faq__item-p {
    font-size: 18px;
    line-height: 133%;
  }
}
@media (max-width: 480px) {
  .faq__title {
    font-size: 14px;
    line-height: 129%;
  }
  .faq__list {
    padding-top: 15px;
  }

  .faq__item {
    margin-bottom: 10px;
  }

  .faq__item:after {
    width: 30px;
    height: 30px;
  }
  .faq__item:nth-child(odd):after {
    width: 30px;
    height: 30px;
  }

  .faq__item-h3-btn {
    padding: 7px 13px 7px 10px;
    font-size: 12px;
  }

  .faq__item-p {
    padding: 30px 20px;
    font-size: 12px;
  }

  .acc__icon {
    width: 30px;
    height: 30px;
  }

  .acc__icon-active {
    width: 30px;
    height: 30px;
  }

  .acc__icon-white {
    width: 30px;
    height: 30px;
  }

  .acc__icon-white-active {
    width: 30px;
    height: 30px;
  }
}
