.faq__item {
  background-color: #fff;
  color: #1c1a1a;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq__item:last-child {
  margin-bottom: 0px;
}

.faq__item:nth-child(2n) {
  background-color: #440f51;
  color: #fff;
}

.faq__item:after {
  content: "";
  background-image: url("../img/open.svg");
  display: inline-block;
  background-size: contain;
  width: 46px;
  height: 46px;
}

.faq__item:nth-child(odd):after {
  content: "";
  background-image: url("../img/open-purple.svg");
  background-size: contain;
  width: 46px;
  height: 46px;
}
