html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-size: 20px;
  font-weight: 400;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #1b1a1b;
  position: relative;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
}

input,
textarea,
select {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

iframe {
  border: none;
}

section {
  padding-top: 100px;
}

section:last-of-type {
  padding-bottom: 51px;
}

section:first-of-type {
  padding-top: 146px;
}
/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1440px;
  padding: 0 130px;
  margin: 0 auto;
}
