.halls {
  font-weight: 700;
  text-transform: uppercase;
}

.halls__title {
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 60px;
}

.halls__item-link {
  text-decoration: none;
  color: inherit;
  position: relative;
  top: 275px;
  white-space: pre-line;
}

.halls__item {
  margin-bottom: 60px;
  background-size: auto;
  height: 710px;
  width: 1180px;
  text-align: center;
  font-size: 70px;
  line-height: 114%;
}

.halls__item:last-of-type {
  margin-bottom: 0px;
}

.item__bg-80s-vibe {
  background-image: url("../img/80s_vibes.jpg");
}
.item__bg-star-wars {
  background-image: url("../img/star_wars.jpg");
}
.item__bg-wild-west {
  background-image: url("../img/wild_west.jpg");
}
.item__bg-neon-style {
  background-image: url("../img/neon_style.jpg");
}
