@import "./normalize.css";
@import "./global.css";
@import "./style.css";
@import "./navigate.css";
@import "./faq.css";
@import "./banner.css";
@import "./halls.css";
@import "./contacts.css";
@import "./about.css";
@import "./booking.css";
@import "./request-call__form.css";
@import "./reviews.css";
@import "./our-services.css";
