.header {
  padding-top: 30px;
  transition-duration: 1s;
}
.header__flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  justify-content: space-between;
  gap: 97px;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.navigation__link {
  line-height: 227%;
  text-transform: uppercase;
  transition-duration: 0.4s;
  transition-property: color;
}

.navigation__button-call {
  border: 3px solid var(--color-ruby);
  border-radius: 10px;
  background: #1b1a1b;
  width: 280px;
  height: 55px;
  text-transform: uppercase;
  color: #fff;
  transition-duration: 0.4s;
  transition-property: background-color, border;
}

.navigation__button-call:hover,
.navigation__button-call:focus {
  border: 3px solid var(--main-color);
  background-color: var(--main-color);
}

.navigation__button-call:active {
  border: 1px solid #000;
  background-color: #640aa3;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--main-color);
}

.navigation__link:active {
  color: #640aa3;
}

.header__link {
  display: inline;
  transition-duration: 0.5s;
  transition-property: background-color;
}

.header__link:hover,
.header__link:focus {
  background-color: var(--color-ruby);
}

.header__link:active {
  background-color: #640aa3;
}
