.header {
  padding-top: 30px;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 26, 27, 0.7);
  z-index: 1;
}

.header__flex-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1b1a1b;
}
.navigation {
  display: flex;
  justify-content: space-between;
  gap: 97px;
  align-items: center;
  flex-wrap: wrap;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 22px;
  line-height: 227%;
}

.navigation__item {
  text-align: center;
  position: relative;
}

.navigation__link {
  text-transform: uppercase;
  transition-duration: 0.4s;
  transition-property: color;
}

.navigation__button-call {
  border: 3px solid var(--color-ruby);
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  border-radius: 10px;
  background: #1b1a1b;
  padding: 13px 32px;
  text-transform: uppercase;
  color: #fff;
  transition-duration: 0.4s;
  transition-property: background-color, border;
}

.navigation__button-call:hover,
.navigation__button-call:focus {
  border: 3px solid var(--main-color);
  background-color: var(--main-color);
}

.navigation__button-call:active {
  border: 1px solid #000;
  background-color: #640aa3;
}

.header__link {
  transition-duration: 0.5s;
  transition-property: background-color;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--main-color);
}

.navigation__link:active {
  color: #640aa3;
}

.header__logo {
  max-width: 120px;
  max-height: 66px;
}

.header__link:hover,
.header__link:focus {
  background-color: var(--color-ruby);
}

.header__link:active {
  background-color: #640aa3;
}

.header__button-menu {
  display: none;
}

@media (max-width: 1024px) {
  .header__logo {
    max-width: 87px;
    max-height: 55px;
  }

  .navigation {
    gap: 79px;
  }

  .navigation__list {
    gap: 20px;
    font-size: 18px;
    line-height: 122%;
  }

  .navigation__button-call {
    font-size: 18px;
    line-height: 133%;
    border-radius: 8px;
    padding: 11px 26px 10px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-top: 32px;
  }

  .header__button-menu {
    align-self: center;
    display: block;
    background-color: #1b1a1b;
    border: none;
    color: #6c0287;
    width: 54px;
    transition: color 0.3s ease;
  }

  .navigation {
    width: 100%;
    position: absolute;
    top: 85px;
    background-color: #1b1a1b;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 39px;
    font-size: 22px;
    line-height: 100%;
    margin: 0 auto;
    padding: 58px 0;
    width: 100%;
  }

  .navigation__item {
    width: 100%;
  }

  .navigation__item::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -16px;
    height: 57px;
    transition: z-index, background-color;
  }

  .navigation__item:hover::before {
    background-color: #6c0287;
    z-index: -1;
  }

  .navigation__item:active:before {
    background-color: #cd06ff;
    z-index: -1;
  }

  .header__button-menu:hover {
    color: #cd06ff;
  }

  .header__button-menu-svg {
    width: 42px;
    height: 42px;
    display: none;
  }

  .header__button-menu-svg:first-of-type {
    display: inline;
  }

  .header__button-menu:focus,
  .header__button-menu:active {
    color: #840aa3;
  }

  .navigation__link:hover {
    color: #fff;
  }
}
@media (max-width: 480px) {
  .header {
    padding-top: 20px;
  }

  .header__logo {
    width: 66px;
    height: 42px;
  }

  .navigation {
    top: 65px;
  }

  .navigation__list {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 26px;
    font-size: 14px;
    line-height: 157%;
    padding: 36px 0;
  }

  .header__button-menu {
    width: 39px;
    height: 20px;
  }

  .header__button-menu-svg {
    width: 39px;
    height: 20px;
  }

  .navigation__button-call:first-of-type {
    position: relative;
    transform: none;
    font-size: 14px;
    line-height: 100%;
    border-radius: 6px;
    padding: 11px 23px;
    order: 2;
  }

  .navigation__item:last-of-type {
    margin-bottom: 12px;
  }
}
