.header {
  padding-top: 30px;
}
.header__flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  justify-content: space-between;
  gap: 97px;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.navigation__link {
  line-height: 227%;
  text-transform: uppercase;
}

.navigation__button-call {
  border: 3px solid #cd06ff;
  border-radius: 10px;
  background: #1b1a1b;
  width: 280px;
  height: 55px;
  text-transform: uppercase;
  color: #fff;
}

.navigation__button-call:hover,
.navigation__button-call:focus {
  border: 3px solid #6c0287;
  background: #6c0287;
}

.navigation__button-call:active {
  border: 1px solid #000;
  background: #640aa3;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #6c0287;
}

.navigation__link:active {
  color: #640aa3;
}

.header__link {
  display: inline;
}

.header__link:hover,
.header__link:focus {
  background: #cd06ff;
}

.header__link:active {
  background: #640aa3;
}
