.header {
  padding-top: 30px;
  transition-duration: 1s;
}
.header__flex-wrapper {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  justify-content: space-between;
  gap: 97px;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
  align-self: center;
  gap: 40px;
  font-size: 22px;
  line-height: 227%;
}

.navigation__link {
  text-transform: uppercase;
  transition-duration: 0.4s;
  transition-property: color;
}

.navigation__button-call {
  border: 3px solid var(--color-ruby);
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  border-radius: 10px;
  background: #1b1a1b;

  height: 55px;
  padding: 0 32px;
  text-transform: uppercase;
  color: #fff;
  transition-duration: 0.4s;
  transition-property: background-color, border;
}

.navigation__button-call:hover,
.navigation__button-call:focus {
  border: 3px solid var(--main-color);
  background-color: var(--main-color);
}

.navigation__button-call:active {
  border: 1px solid #000;
  background-color: #640aa3;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--main-color);
}

.navigation__link:active {
  color: #640aa3;
}

.header__link {
  transition-duration: 0.5s;
  transition-property: background-color;
}

.header__link:hover,
.header__link:focus {
  background-color: var(--color-ruby);
}

.header__link:active {
  background-color: #640aa3;
}

.header__button-menu {
  display: none;
}

@media (max-width: 1024px) {
  .header__link {
    width: 87px;
    height: 55px;
  }

  .navigation {
    gap: 79px;
  }

  .navigation__list {
    gap: 20px;
    font-size: 18px;
    line-height: 122%;
  }

  .navigation__button-call {
    font-size: 18px;
    line-height: 133%;
    border-radius: 8px;
    padding: 11px 26px 10px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-top: 32px;
  }

  .header__button-menu {
    align-self: center;
    display: block;
    background-color: #1b1a1b;
    border: none;
    color: #6c0287;
    width: 54px;
    height: 29px;
    transition: color 0.3s ease;
  }

  .header__button-menu:hover {
    color: #cd06ff;
  }

  .header__button-menu:focus,
  .header__button-menu:active {
    color: #840aa3;
  }
}
@media (max-width: 480px) {
  .header {
    padding-top: 20px;
  }

  .header__link {
    width: 66px;
    height: 42px;
  }
  .header__button-menu {
    width: 39px;
    height: 20px;
  }
}
