.our-services__h2 {
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  white-space: pre-line;
}
.our-services__list-img {
  font-weight: 700;
  line-height: 140%;
  display: flex;
  flex-direction: row;
  flex-basis: 380px;
  gap: 40px 20px;
  flex-wrap: wrap;
  padding-top: 41px;
  perspective: 100px;
  margin-bottom: 70px;
}

.our-services__list-img-item {
  flex-basis: 380px;
  height: 228px;
  align-items: flex-end;
  padding-top: 166px;
  padding-left: 40px;
  transition-duration: 0.8s;
  transition-property: border, transform;
  transform-origin: bottom;
}

.bg__item-audio {
  background-image: url("../img/audio.jpg");
  transform: translateY(70px);
}

.bg__item-audio:hover {
  transform: translateY(20px) translateZ(10px);
  border: solid 2px rgba(245, 241, 241, 0.763);
}
.bg__item-board-games {
  background-image: url("../img/board_game.jpg");
}

.bg__item-board-games:hover {
  transform: translateX(40px) translateY(-20px) translateZ(10px);
  border: solid 2px rgba(245, 241, 241, 0.763);
}
.bg__item-karaoke {
  background-image: url("../img/karaoke.jpg");
}

.bg__item-karaoke:hover {
  transform: translateX(-40px) translateY(20px) translateZ(10px);
  border: solid 2px rgba(245, 241, 241, 0.763);
}

.bg__item-movie {
  background-image: url("../img/movie.jpg");
  transform: translateY(70px);
}

.bg__item-movie:hover {
  transform: translateY(-20px) translateZ(10px);
  border: solid 2px rgba(245, 241, 241, 0.763);
}

.bg__item-ps5 {
  background-image: url("../img/ps5.jpg");
}

.bg__item-ps5:hover {
  transform: translateX(-40px) translateY(-20px) translateZ(10px);
  border: solid 2px rgba(245, 241, 241, 0.763);
}

.bg__item-vr {
  background-image: url("../img/vr.jpg");
}

.bg__item-vr:hover {
  transform: translateX(40px) translateY(20px) translateZ(10px);
  border: solid 2px rgba(245, 241, 241, 0.763);
}
