.our-services__h2 {
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
}
.our-services__list-img {
  font-weight: 700;
  line-height: 140%;
  display: flex;
  flex-direction: row;
  flex-basis: 380px;
  gap: 40px 20px;
  flex-wrap: wrap;
}
.our-services__list-img-item {
  flex-basis: 380px;
  height: 228px;
  align-items: flex-end;
  padding-top: 166px;
  padding-left: 40px;
}
.bg__item-audio {
  background-image: url("../img/audio.jpg");
}
.bg__item-board-games {
  background-image: url("../img/board_game.jpg");
}
.bg__item-karaoke {
  background-image: url("../img/karaoke.jpg");
}
.bg__item-movie {
  background-image: url("../img/movie.jpg");
}
.bg__item-ps5 {
  background-image: url("../img/ps5.jpg");
}
.bg__item-vr {
  background-image: url("../img/vr.jpg");
}
