.reviews__title {
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.reviews__list {
  display: flex;
}

.reviews__item {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
  padding: 0 100px;
}

.reviews__item-figure {
  text-align: center;
}

.reviews__item-figure::before {
  content: "";
  z-index: 10;
  width: 280px;
  height: 280px;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(196, 196, 196) 0%,
    rgb(108, 2, 135) 100%
  );
  opacity: 0.2;
}

.reviews__item-figure-img {
  max-width: 280px;
  border-radius: 50%;
}

.reviews__block {
  line-height: 140%;
}

.reviews__block-padding-top {
  padding-top: 52px;
}

.reviews__swiper-button-prev,
.reviews__swiper-button-next {
  position: absolute;
  width: 46px;
  height: 46px;
  top: calc(50% - 15px);
  background-color: #1b1a1b;
  border: none;
  display: flex;
  z-index: 10;
  display: flex;
}

.reviews__swiper-button-prev {
  left: 0;
}

.reviews__swiper-button-next {
  right: 0;
}

.arow {
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 1024px) {
  .reviews__title {
    font-size: 30px;
    line-height: 133%;
    margin-bottom: 26px;
  }

  /* .reviews__list {
    padding: 0 79px 0 100px;
    gap: 40px;
  } */
  .reviews__item-figure-figcaption,
  .reviews__block {
    line-height: 144%;
    font-size: 18px;
  }

  .reviews__block-padding-top {
    padding-top: 33px;
  }

  .reviews__item {
    gap: 38px;
    padding: 0 79px 0 100px;
  }

  .reviews__item-figure::before {
    width: 172px;
    height: 172px;
  }

  .reviews__item-figure-img {
    max-width: 172px;
  }

  .reviews__swiper-button-prev,
  .reviews__swiper-button-next {
    position: absolute;
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 768px) {
  .reviews__title {
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 31px;
  }

  /* .reviews__list {
    padding: 0 64px;
    gap: 30px;
  } */

  .reviews__item {
    gap: 15px;
    padding: 0 63px;
  }

  .reviews__block {
    line-height: 137%;
    font-size: 16px;
  }

  .reviews__item-figure-figcaption {
    line-height: 143%;
    font-size: 14px;
  }

  .reviews__block-padding-top {
    padding-top: 30px;
  }

  .reviews__item {
    gap: 12px;
  }

  .reviews__item-figure::before {
    width: 153px;
    height: 153px;
  }

  .reviews__item-figure-img {
    max-width: 153px;
  }
}
@media (max-width: 480px) {
  .reviews__title {
    font-size: 14px;
    line-height: 114%;
    margin-bottom: 15px;
  }

  /* .reviews__list {
    padding: 0;
    gap: 20px;
  } */

  .reviews__item {
    gap: 15px;
    padding: 0;
  }
  .reviews__block {
    line-height: 133%;
    font-size: 12px;
  }

  .reviews__block-padding-top {
    padding-top: 0px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .reviews__item-figure::before {
    width: 86px;
    height: 86px;
  }

  .reviews__item-figure-img {
    max-width: 86px;
  }

  .reviews__swiper-button-prev,
  .reviews__swiper-button-next {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 80px);
  }

  .reviews__swiper-button-prev {
    left: 30px;
  }

  .reviews__swiper-button-next {
    right: 30px;
  }
}
