.reviews {
}

.reviews__title {
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.reviews__list {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  gap: 50px;
}

.reviews__item {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}

.reviews__item-figure {
  text-align: center;
}

.reviews__item-figure-img {
  max-width: 280px;
}

.reviews__block {
  line-height: 140%;
}

.reviews__block-padding-top {
  padding-top: 52px;
}
